[submodule "MAE"]
	path = MAE
	url = https://github.com/Aaditya-Singh/mae.git
[submodule "RobustViT"]
	path = RobustViT
	url = https://github.com/Aaditya-Singh/RobustViT.git
[submodule "model-soups"]
	path = model-soups
	url = https://github.com/ksarangmath/model-soups.git
